*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../recursos/bacground.webp");
}

header{
    background-color: white;
    position: sticky;
    top: 0.05rem;
    z-index: 10;
}

li {
    padding: 0.8rem;
}

a {
    text-decoration: none;
    color: #540721;
    font-weight: bold;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1.5rem;
    align-items: baseline;
    padding: 1rem;
}

.redes {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.lista__footer {
    display: flex;
    justify-content: center;
}

.contactanos{
    color: white;
}


/* Index */

.portada {
    display: flex;
    flex-direction: column;
    background-image: url(../recursos/estadio-qatar.webp);
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.portada__titulo{
    padding: 1rem;
    font-weight: bold;
    font-size: 3.125rem;
}

.emoji{
    display: flex;
    background-color: white;
    padding: 1rem;
    justify-content: center;
    justify-content: space-around;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.presentacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
}

.presentacion__titulo {
    align-self: center;
    text-align: center;
}

.presentacion__texto {
    padding: 1.5rem;
    text-align: center;
}


/* Como ir */
.containter {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.avion__imagen {
    background-image: url(../recursos/avion-qatar.webp);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.entradas__row {
    margin-top: 4rem;
}

.entradas__imagen {
    background-image: url(../recursos/hinchas-argentinos.webp);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hospedaje__row {
    margin-top: 4rem;
}

.hospedaje__imagen {
    background-image: url(../recursos/alojamiento-qatar.webp);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Que hacer */
.carousel__queHacer {
    margin-top: 5px;
}

/* Curiosidades */
.grupos__imagen {
    background-image: url(../recursos/grupos-qatar.webp);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.sedes__row {
    margin-top: 4rem;
}

.sedes__imagen {
    background-image: url(../recursos/sedes.jpg);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.equipos__row {
    margin-top: 4rem;
}

.equipos__imagen {
    background-image: url(../recursos/equipos.webp);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/* Contactanos */

.formulario {
    margin-top: 2rem;
    padding: 1rem;
}


/* Media query */

@media (min-width: 541px) and (max-width: 720px) {
    .presentacion {
        grid-template-columns: 1fr;
    }       
}

@media (min-width: 320px) and (max-width: 540px) {

    .presentacion {
        grid-template-columns: 1fr;
    }       

}