/*COLORES*/
/*TIPO DE LETRA*/
header {
  background-color: #eae5e4;
  position: sticky;
  top: 0.05rem;
  z-index: 10; }
  header li {
    padding: 0.8rem; }
  header a {
    text-decoration: none;
    color: #540721;
    font-weight: bolder; }
  header a:hover {
    color: #a3a09f;
    text-decoration: underline; }

.footer__grid {
  color: #540721;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1.5rem;
  align-items: baseline;
  padding: 1rem;
  background-color: #eae5e4;
  padding-bottom: 0.5rem;
  margin-bottom: 0.1rem;
  font-weight: bolder; }

.footer__redes {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem; }

.footer__lista {
  display: flex;
  justify-content: center; }

.footer__contactanos {
  color: #540721;
  text-decoration: none;
  font-weight: bolder; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  color: #eae5e4;
  font-family: Tahoma;
  background-image: url("../recursos/bacground.webp"); }

/* Index */
.portada {
  display: flex;
  flex-direction: column;
  background-image: url(../recursos/estadio-qatar.jpg);
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center; }
  .portada__titulo {
    padding: 1rem;
    font-weight: bold; }

.emoji {
  display: flex;
  background-color: #eae5e4;
  padding: 1rem;
  justify-content: center;
  justify-content: space-around;
  padding-top: 7rem;
  padding-bottom: 7rem; }

.presentacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem; }
  .presentacion__titulo {
    text-align: center;
    align-self: center; }
  .presentacion__texto {
    padding: 1.5rem; }

h1 {
  font-size: 3.125rem;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  color: #eae5e4;
  margin-top: 1rem;
  display: flex;
  justify-content: center; }

h2 {
  font-size: 2rem;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  color: #eae5e4;
  margin-top: 1rem;
  display: flex;
  justify-content: center; }

/* Como ir */
.pasajes {
  display: grid;
  grid-template-areas: "uno uno" "tres dos";
  margin: 2rem;
  margin-top: 2rem;
  gap: 0.5rem; }
  .pasajes__uno {
    display: flex;
    grid-area: uno;
    justify-content: center;
    margin-bottom: 2rem; }
  .pasajes__dos {
    display: flex;
    grid-area: dos;
    max-width: fit-content;
    align-items: center; }
  .pasajes__tres {
    grid-area: tres;
    background-image: url(../recursos/avion-qatar.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 20rem; }

.card-title {
  color: #540721;
  font-weight: bolder; }

.card-group {
  margin: 2rem; }

.card-text {
  color: #540721;
  font-weight: bold; }

.card-footer {
  display: flex;
  justify-content: space-between; }

.alojamiento__parrafo {
  display: flex;
  margin: 2rem; }

.seccion__comoIr {
  margin-top: 4rem; }

.entradas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem; }
  .entradas__imagen {
    height: 20rem; }
  .entradas__parrafo {
    margin-left: 1rem;
    margin-right: 1rem; }

/* Que hacer */
.carousel__queHacer {
  margin-top: 5px; }

.playa {
  margin-top: 3rem;
  background-image: url(../recursos/playa-fondo.jpeg);
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center; }

/* Curiosidades */
.alcohol {
  margin-top: 4rem;
  margin-left: 2rem; }
  .alcohol__titulo {
    padding-bottom: 1rem; }
  .alcohol__imagen {
    background-image: url(../recursos/alcohol.webp);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .alcohol__parrafo {
    margin-right: 2rem; }

.diciembre {
  margin-top: 4rem;
  margin-left: 2rem; }
  .diciembre__titulo {
    padding-bottom: 1rem; }
  .diciembre__imagen {
    background-image: url(../recursos/mundial-en-verano.webp);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .diciembre__parrafo {
    margin-right: 2rem; }

.sedes {
  margin-top: 4rem;
  margin-left: 2rem; }
  .sedes__titulo {
    padding-bottom: 1rem; }
  .sedes__imagen {
    background-image: url(../recursos/sedes.jpg);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .sedes__parrafo {
    margin-right: 2rem; }

.carbono {
  margin-top: 4rem;
  margin-left: 2rem; }
  .carbono__titulo {
    padding-bottom: 1rem; }
  .carbono__imagen {
    padding-top: 2rem;
    background-image: url(../recursos/emisiones-carbono-qatar.webp);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .carbono__parrafo {
    margin-right: 2rem; }

/* Contactanos */
.formulario {
  margin-top: 2rem;
  padding: 1rem; }
  .formulario__parrafo {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .formulario__boton {
    margin-top: 1rem; }

/*Media Queries*/
@media (min-width: 721px) and (max-width: 1000px) {
  .presentacion {
    grid-template-columns: 1fr; }
  .pasajes {
    display: grid;
    grid-template-areas: "uno" "tres" "dos";
    margin: 2rem;
    gap: 0.5rem; }
  .entradas {
    display: grid;
    grid-template-columns: 1fr; }
    .entradas__parrafo {
      margin-top: 1rem; } }

@media (min-width: 541px) and (max-width: 720px) {
  .presentacion {
    grid-template-columns: 1fr; }
  .pasajes {
    display: grid;
    grid-template-areas: "uno" "tres" "dos";
    margin: 2rem;
    gap: 0.5rem; }
  .entradas {
    display: grid;
    grid-template-columns: 1fr; }
    .entradas__parrafo {
      margin-top: 1rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  .presentacion {
    grid-template-columns: 1fr; }
  .pasajes {
    display: grid;
    grid-template-areas: "uno" "tres" "dos";
    margin: 2rem;
    gap: 0.5rem; }
  .entradas {
    display: grid;
    grid-template-columns: 1fr; }
    .entradas__parrafo {
      margin-top: 1rem; } }
