/*COLORES*/
/*TIPO DE LETRA*/
.header {
  background-color: #eae5e4;
  top: 0.05rem;
  z-index: 10; }
  .header__logo {
    width: 2.5rem;
    height: 2.5rem; }
  .header li {
    padding: 0.8rem; }
  .header a {
    text-decoration: none;
    color: #550721;
    font-weight: bolder; }
  .header a:hover {
    color: #a3a09f;
    transition: 0.5s cubic-bezier(0, 0, 0, 1); }

.footer__grid {
  color: #550721;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  padding: 1rem;
  background-color: #eae5e4;
  margin-top: 0.1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.1rem;
  font-weight: bolder; }

.footer__redes {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem; }

.footer__lista {
  display: flex;
  justify-content: center; }
  .footer__lista a {
    text-decoration: none;
    color: #550721;
    font-weight: bolder; }
  .footer__lista a:hover {
    color: #a3a09f;
    transition: 0.5s cubic-bezier(0, 0, 0, 1); }

.footer__contactanos {
  color: #550721;
  text-decoration: none;
  font-weight: bolder; }

.equipos {
  width: 18rem;
  margin: 0.5rem;
  transition: all 300ms; }
  .equipos__back {
    width: 100%;
    height: 12rem;
    position: absolute;
    background-image: url(../recursos/fondo-jugadores.jpg);
    background-size: cover;
    bottom: -2rem;
    left: 0;
    border-radius: 1rem;
    transition: all 300ms; }
  .equipos__cover {
    width: 100%;
    height: 15.75rem;
    position: relative;
    overflow: hidden; }
    .equipos__cover img {
      width: 15rem;
      display: block;
      margin: auto;
      position: relative;
      z-index: 5;
      top: 2rem;
      filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.5));
      transition: all 300ms; }
  .equipos__texto {
    display: flex;
    justify-content: center;
    background-color: #a3a09f;
    font-weight: bolder;
    padding: 1rem;
    color: #550721;
    border-radius: 0 0 1rem 1rem; }
    .equipos__texto h3 {
      margin-top: 0.8rem;
      justify-content: center; }

.equipos:hover {
  width: 21.875rem; }

.equipos:hover .equipos__cover img {
  top: 0.8rem; }

.equipos:hover .equipos__back {
  bottom: -2rem;
  height: 13rem; }

.lugares {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .lugares__tarjetas {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    overflow-y: hidden; }
    .lugares__tarjetas :hover .front {
      transform: perspective(400px) rotateY(180deg); }
    .lugares__tarjetas .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 0.8rem;
      overflow: hidden;
      transition: .5s; }
    .lugares__tarjetas .front {
      transform: perspective(400px) rotateY(0deg); }
      .lugares__tarjetas .front img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .lugares__tarjetas .front h3 {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
        line-height: 2.5rem;
        color: #eae5e4;
        background: rgba(85, 7, 33, 0.75);
        text-align: center; }
    .lugares__tarjetas .back {
      transform: perspective(400px) rotateY(180deg);
      background-color: #eae5e4;
      padding: 1rem;
      color: #550721;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center; }
      .lugares__tarjetas .back h3 {
        font-size: 2rem;
        margin-top: 1rem;
        border-bottom: solid #550721; }

.lugares__tarjetas:hover .front {
  transform: perspective(400px) rotateY(180deg); }

.lugares__tarjetas:hover .back {
  transform: perspective(400px) rotateY(360deg); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  color: #eae5e4;
  font-family: Tahoma;
  background-image: url("../recursos/bacground.webp"); }

/* Index */
.portada {
  display: flex;
  flex-direction: column;
  background-image: url(../recursos/estadio-qatar.jpg);
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center; }
  .portada__titulo {
    padding: 1rem;
    font-weight: bold; }

.emoji {
  display: flex;
  background-color: #eae5e4;
  padding: 1rem;
  justify-content: center;
  justify-content: space-around;
  padding-top: 7rem;
  padding-bottom: 7rem; }

.presentacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem; }
  .presentacion__titulo {
    text-align: center;
    align-self: center; }
  .presentacion__texto {
    padding: 1.5rem; }

h1 {
  font-size: 3.125rem;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  color: #eae5e4;
  margin-top: 1rem;
  display: flex;
  justify-content: center; }

h2 {
  font-size: 3.125rem;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  color: #eae5e4;
  margin-top: 1rem;
  display: flex;
  justify-content: center; }

/* Como ir */
.pasajes {
  display: grid;
  grid-template-areas: "uno uno" "tres dos";
  margin: 2rem;
  margin-top: 2rem;
  gap: 0.5rem; }
  .pasajes__uno {
    display: flex;
    grid-area: uno;
    justify-content: center;
    margin-bottom: 2rem; }
  .pasajes__dos {
    display: flex;
    grid-area: dos;
    max-width: fit-content;
    align-items: center; }
  .pasajes__tres {
    grid-area: tres;
    background-image: url(../recursos/avion-qatar.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 20rem; }

.card-title {
  color: #550721;
  font-weight: bolder; }

.card-group {
  margin: 2rem; }

.card-text {
  color: #550721;
  font-weight: bold; }

.card-footer {
  display: flex;
  justify-content: space-between; }

.alojamiento__parrafo {
  display: flex;
  margin: 2rem; }

.seccion__comoIr {
  margin-top: 4rem; }

.entradas {
  margin-top: 4rem;
  padding-top: 1rem;
  background-color: #eae5e4;
  color: #550721; }
  .entradas__titulo {
    color: #550721; }
  .entradas__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem; }
  .entradas__imagen {
    height: 20rem;
    border-radius: 1rem 1rem 1rem 1rem; }
  .entradas__parrafo {
    margin-left: 1rem;
    margin-right: 1rem; }

/* Que hacer */
.turismo {
  padding-top: 1rem; }
  .turismo__texto {
    padding: 2rem; }

.playa {
  margin-top: 3rem;
  background-image: url(../recursos/playa-fondo.jpeg);
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center; }

/* Equipos */
.container__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.grupos {
  margin-top: 2rem;
  margin: 2rem; }

/* Contactanos */
.formulario {
  margin-top: 1rem;
  margin: 1rem; }
  .formulario__contenedor {
    margin-bottom: 5rem;
    margin-top: 5rem;
    max-width: 64rem;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #550721;
    box-shadow: 0 0 0.5rem 0 #eae5e4;
    border-radius: 1rem; }
  .formulario__descipcion {
    border-bottom: solid 0.02in #eae5e4;
    padding-bottom: 1rem; }
  .formulario__boton {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end; }

/*Media Queries*/
@media (min-width: 721px) and (max-width: 1000px) {
  s
.presentacion {
    grid-template-columns: 1fr; }
  .pasajes {
    display: grid;
    grid-template-areas: "uno" "tres" "dos";
    margin: 2rem;
    gap: 0.5rem; }
  .entradas__grid {
    display: grid;
    grid-template-columns: 1fr; }
  .entradas__parrafo {
    margin-top: 1rem; }
  h1 {
    margin-left: 1rem; }
  .formulario__contenedor {
    max-width: 40rem; } }

@media (min-width: 541px) and (max-width: 720px) {
  .presentacion {
    grid-template-columns: 1fr; }
  .pasajes {
    display: grid;
    grid-template-areas: "uno" "tres" "dos";
    margin: 2rem;
    gap: 0.5rem; }
  .entradas__grid {
    display: grid;
    grid-template-columns: 1fr; }
  .entradas__parrafo {
    margin-top: 1rem; }
  h1 {
    margin-left: 1rem; }
  .formulario__contenedor {
    max-width: 30rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  .presentacion {
    grid-template-columns: 1fr; }
  .pasajes {
    display: grid;
    grid-template-areas: "uno" "tres" "dos";
    margin: 2rem;
    gap: 0.5rem; }
  .entradas__grid {
    display: grid;
    grid-template-columns: 1fr; }
  .entradas__parrafo {
    margin-top: 1rem; }
  h1 {
    margin-left: 1rem; }
  .formulario__contenedor {
    max-width: 26rem; } }
