/*color: #540721*/
/*COLORES*/
$color-principal: #540721;
$color-secundario: white;

/*TIPO DE LETRA*/
$font-principal: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
