/*COLORES*/
$color-principal: rgb(85, 7, 33);
$color-secundario: rgb(234,229,228);
$color-terciario: rgba(163,160,159,255);
$color-cuatro: rgba(85, 7, 33, 0.75);
$color-cinco: rgba(0, 0, 0, 0.5);

/*TIPO DE LETRA*/
$font-principal: Tahoma;
